
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

html {

  scroll-behavior: smooth;

}

body {

  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  background-color: #f1f2f6;

}

h1, h2, h3, input, button, a {

  font-family: 'Jost', sans-serif;

}

:root {

  --header-height: 50px;
  --padding-left-right: 20px;

  --page-height: calc(100vh - var(--header-height));

  --footer-height: 50px;

}
