
header {

  background-color: var(--main-color);
  color: white;
  width: 100%;
  top: 0;
  position: sticky;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
  z-index: 5;

}

#header-logo h2 {

  margin: 0;

}

#header-nav {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  overflow: hidden;

}

.header-nav-button {

  text-decoration: none;
  outline: none;
  color: white;
  margin: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transform: scale(1);
  cursor: pointer;

}

.header-nav-button::before {

  width: 100%;
  height: 100%;
  background-color: #ff7f50;
  content: '';
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  transition: all 0.2s linear;
  transform: translateY(-100%);

}

.header-nav-button:hover::before {

  transform: translateY(0);

}

.header-profil-icon {

  width: calc(var(--header-height) - 10px);
  height: calc(var(--header-height) - 10px);
  border-radius: 100%;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 2px white;
  box-sizing: border-box;

}
