
#profil-sub-global-container {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

#profil-sub-header {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 40px;

}

.profil-sub-icon {

  border-radius: 100%;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: solid 2px white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 40px;

}

.profil-sub-infos * {

  margin: 0;

}

#profil-sub-exercices-begins, #profil-sub-exercices-created, #profil-sub-avancement {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 10px 0;

}

.profil-sub-section-title {

  width: 80%;
  min-width: 200px;
  text-align: left;

}

.profil-sub-exercice-begin, .profil-sub-exercice-create {

  width: 80%;
  min-width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 5px 20px;
  margin: 10px;
  box-sizing: border-box;

}

.profil-sub-exercice-sub-section {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.profil-sub-exercice-sub-section > * {

  margin: 7px;

}

.profil-sub-exercice-icon {

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;

}

.profil-sub-exercice-title {

  color: rgb(255, 99, 72);

}

.profil-sub-exercice-lang {

  padding: 5px 15px;
  border-radius: 40px;
  background-color: #2ed573;
  color: white;
  font-size: 12px;

}

.profil-sub-exercice-lang[lang="javascript"] { background-color: #ffd03d; }
.profil-sub-exercice-lang[lang="c_cpp"] { background-color: #2ed573; }
.profil-sub-exercice-lang[lang="python"] { background-color: #357ab1; }

.profil-sub-exercice-avancement {

  width: 100px;
  background-color: white;
  border-radius: 40px;
  border: solid 2px rgb(255, 127, 80);
  color: transparent;
  overflow: hidden;

}

.profil-sub-exercice-avancement::before[avancement="0"]
